$bgcolor: #f1f1f1;
$txtcolor: #424241;

* {
  margin: 0;
  padding: 0;
  line-height: 1.0em;
}

body {
  background-color: $bgcolor;
  color: $txtcolor;
  font-family: "arial", sans-serif;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 1.2em;
}

h2 {
  font-size: 1.1em;
}

h3 {
  font-size: 1.0em;
}

a {
  text-decoration: none;
  color: #2c9eee;
}

li {
  /*list-style: inside;*/
  margin: 0.4em 0;
}

header {
  display: -moz-box;
  display: -webkit-box;
  margin: 20px 0 40px 0;

  h1 {
    font-family: "Merriweather", arial, serif;
    font-size: 1.5em;
    width: 150px;

    a {
      color: #000000;
      -webkit-transition: color 1s linear;
    }
    a:hover {
      color: #0d5d9c;
    }
  }
  ul {
    width: 500px;
    text-align: right;
    
    li {
      display: inline;
      margin: 0 3px;

      a {
        font-size: 0.9em;
      }
    }
  }
}

article {
  h1 {
    margin-bottom: 35px;
    color: #e50849;
  }
  h2 {
    margin: 35px 0 25px 0;
  }
  h3 {
    margin: 25px 0 15px 0;
  }
  p {
    line-height: 1.5em;
    margin: 17px 0;
    font-size: 1.05em;
  }
  code {
    font-family: "Droid Sans Mono", "arial", sans-serif;
  }
  code:not([class]) { // Pygmentsによって生成されたcodeタグ以外
    background-color: #e2e5e5;
    font-size: 0.85em;
  }
  .highlight {
    /*background-color: $bgcolor;*/
    background-color: #fbf8f8;
    padding: 0 20px;
    border: solid 1px #e4e4e4;

    code {
      line-height: 1.5em;
      font-size: 14px;
    }
  }
  ul {
    margin: 0 0 0 40px;
    line-height: 1.5em;
  }
  #datetime {
    margin-bottom: 10px;
    font-size: 0.9em;
    color: #9f9f9f;
    font-weight: bold;
  }
  ul#posts, ul.posts {
    margin: 25px 0 0 0;

    li {
      list-style-type: none;
      display: -moz-box;
      display: -webkit-box;
      margin-bottom: 20px;
      
      .datetime {
        margin-right: 7px;
        color: #9f9f9f;
        width: 150px;
      }
      .title {
        width: 500px;
      }
    }
  }
  #categories {
    h1 {
      font-size: 0.8em;
      margin: 35px 0 5px 0;
      color: $txtcolor;
    }
    ul {
      margin: 0;
      line-height: 1em;

      li {
        display: inline;
        margin: 0 3px;
      }
    }
  }
  #disqus_thread {
    margin-top: 30px;
  }
}

footer {
  text-align: center;
  margin: 50px 0 30px 0;
  
  li {
    display: inline;
    margin: 0 5px;

    a {
      color: #9f9f9f;
      font-size: 0.9em;
    }
  }
}
