/* line 1, /Users/bojovs/repos/bojovs.github.com/source/stylesheets/articles/base.css.scss */
body {
  background-color: #f8fbf8;
  color: #595857; }

/* line 6, /Users/bojovs/repos/bojovs.github.com/source/stylesheets/articles/base.css.scss */
h1 {
  font-size: 25px;
  margin: 20px 0; }

/* line 11, /Users/bojovs/repos/bojovs.github.com/source/stylesheets/articles/base.css.scss */
h2 {
  font-size: 20px;
  font-weight: bold; }
/* line 2, /Users/bojovs/repos/bojovs.github.com/source/stylesheets/articles/index.css.scss */
.articles-index ul.posts {
  -webkit-padding-start: 0;
  list-style-type: none; }
  /* line 6, /Users/bojovs/repos/bojovs.github.com/source/stylesheets/articles/index.css.scss */
  .articles-index ul.posts li {
    margin-bottom: 25px; }
    /* line 8, /Users/bojovs/repos/bojovs.github.com/source/stylesheets/articles/index.css.scss */
    .articles-index ul.posts li .datetime {
      display: inline-block;
      margin-bottom: 5px; }
/* line 2, /Users/bojovs/repos/bojovs.github.com/source/stylesheets/articles/show.css.scss */
.articles-show article {
  line-height: 20px; }
  /* line 5, /Users/bojovs/repos/bojovs.github.com/source/stylesheets/articles/show.css.scss */
  .articles-show article h1, .articles-show article h2 {
    font-weight: bold;
    margin: 25px 0; }
  /* line 10, /Users/bojovs/repos/bojovs.github.com/source/stylesheets/articles/show.css.scss */
  .articles-show article code, .articles-show article ol, .articles-show article p, .articles-show article ul {
    font-size: 13px; }
  /* line 14, /Users/bojovs/repos/bojovs.github.com/source/stylesheets/articles/show.css.scss */
  .articles-show article p {
    margin: 17px 0; }
  /* line 18, /Users/bojovs/repos/bojovs.github.com/source/stylesheets/articles/show.css.scss */
  .articles-show article pre {
    background-color: #fffffc;
    color: #647b82;
    margin: 20px 0;
    overflow-x: auto; }
  /* line 25, /Users/bojovs/repos/bojovs.github.com/source/stylesheets/articles/show.css.scss */
  .articles-show article code {
    font-family: 'Droid Sans Mono', Consolas, Courier, monospace; }
  /* line 29, /Users/bojovs/repos/bojovs.github.com/source/stylesheets/articles/show.css.scss */
  .articles-show article hr.article-end {
    margin: 30px 0; }
