/* line 2, /Users/bojovs/repos/bojovs.github.com/source/stylesheets/articles/index.css.scss */
.articles-index ul.posts {
  -webkit-padding-start: 0;
  list-style-type: none; }
  /* line 6, /Users/bojovs/repos/bojovs.github.com/source/stylesheets/articles/index.css.scss */
  .articles-index ul.posts li {
    margin-bottom: 25px; }
    /* line 8, /Users/bojovs/repos/bojovs.github.com/source/stylesheets/articles/index.css.scss */
    .articles-index ul.posts li .datetime {
      display: inline-block;
      margin-bottom: 5px; }
