---
layout: articles_index
---

ul.posts
  - blog.articles[0...5].each do |article|
    li
      span.datetime
        = article.date.strftime('%Y/%m/%d')
      .title
        = link_to article.title, article.url
