---
layout: base
---

.container
  .background
    .images
      img src='/images/background/image1.jpg' alt='背景'
      img src='/images/background/image2.jpg' alt='背景'
      img src='/images/background/image3.jpg' alt='背景'
      img src='/images/background/image4.jpg' alt='背景'
      img src='/images/background/image5.jpg' alt='背景'
    .image-filter
  .content
    h1 Koji Shimba
    ul.sites
      li.text-center
        a href='/articles/'
          i.icon-pencil
      li.text-center
        a href='https://twitter.com/bojovs' target='_blank'
          i.icon-twitter
      li.text-center
        a href='https://github.com/bojovs' target='_blank'
          i.icon-github-alt
      li.text-center
        a href='http://pinterest.com/bojovs/' target='_blank'
          i.icon-pinterest
      li.text-center
        a href='http://bojovs.tumblr.com/' target='_blank'
          i.icon-tumblr
      li.text-center
        a href='http://instagram.com/bojovs' target='_blank'
          i.icon-instagram
      li.text-center
        a href='http://www.flickr.com/photos/bojovs/' target='_blank'
          i.icon-flickr
      li.text-center
        a href='https://foursquare.com/bojovs' target='_blank'
          i.icon-foursquare
